<h3>Company List</h3>
<search-area [module]="'company'" [fields]="fields" [message]="'Click company to get further information.'" 
             [page]="currentPage" [pp]="perPage" [inView]="inView" (result)="getSearchResult($event)"></search-area>
<p *ngIf="!companyList ; else dataBlock">
    <em *ngIf="!hasError">Loading...</em>
    <em *ngIf="hasError">{{hasError}}</em>
</p>
<ng-template #dataBlock>
    <div class="row container">
        <button type="button" class="btn btn-primary" (click)="add()">New Company</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>ABN</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companyList" (click)="viewDetail(company.companyId)">
                <td>{{ company.companyId }}</td>
                <td>{{ company.companyName }}</td>
                <td>{{ company.companyAbn }}</td>
                <td>{{ company.companyPhone1 }}</td>
            </tr>
        </tbody>
    </table>
</ng-template>
<pagination [count]="count" [maxPage]="7" (current)="onPageChange($event)" (pp)="ppChange($event)"></pagination>
