<div>
    <div *ngIf="isEdit; else viewBlock">
        <h3 *ngIf="companyId > 0">Edit Company</h3>
        <h3 *ngIf="companyId == 0">New Company</h3>
        <form (ngSubmit)="onSubmit(companyForm)" #companyForm="ngForm">
            <div class="form-group has-feedback" [ngClass]="!isValid(name) ? 'has-error' : ''">
                <label class="control-label" for="inputCompanyName">Name</label>
                <input type="text" class="form-control" id="inputCompanyName" name="name" required
                       [(ngModel)]="newCompany.companyName" #name="ngModel">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!isValid(name)"></span>
                <div *ngIf="!isValid(name)" class="alert alert-danger">
                    Company Name is required.
                </div>
            </div>
            <div class="form-group">
                <label for="inputCompanyAddress" class="control-label">Address</label>
                <input type="text" class="form-control" id="inputCompanyAddress"
                       [(ngModel)]="newCompany.companyAddress" name="address">
            </div>
            <div class="form-group has-feedback" [ngClass]="!isValid(email) ? 'has-error' : ''">
                <label class="control-label" for="inputCompanyEmail">Email</label>
                <input type="text" class="form-control" id="inputCompanyEmail"
                       pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                       [(ngModel)]="newCompany.companyEmail" name="email" #email="ngModel">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!isValid(email)"></span>
                <div *ngIf="!isValid(email)" class="alert alert-danger">
                    Email is invalid.
                </div>
            </div>
            <div class="form-group has-feedback" [ngClass]="!isValid(phone) ? 'has-error' : ''">
                <label for="inputCompanyPhone" class="control-label">Phone</label>
                <input type="text" class="form-control" id="inputCompanyPhone" pattern="^[\+]?[_0-9\s]{1,}$"
                       [(ngModel)]="newCompany.companyPhone1" name="phone" #phone="ngModel">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!isValid(phone)"></span>
                <div *ngIf="!isValid(phone)" class="alert alert-danger">
                    Phone number is invalid.
                </div>
            </div>
            <div class="form-group has-feedback" [ngClass]="!isValid(mobile) ? 'has-error' : ''">
                <label for="inputCompanyMobile" class="control-label">Phone</label>
                <input type="text" class="form-control" id="inputCompanyMobile" pattern="^[\+]?[_0-9\s]{1,}$"
                       [(ngModel)]="newCompany.companyPhone2" name="mobile" #mobile="ngModel">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      *ngIf="!isValid(mobile)"></span>
                <div *ngIf="!isValid(mobile)" class="alert alert-danger">
                    Mobile number is invalid.
                </div>
            </div>
            <div class="form-group">
                <label for="inputCompanyAbn" class="control-label">ABN</label>
                <input type="text" class="form-control" id="inputCompanyAbn" [(ngModel)]="newCompany.companyAbn" name="abn">
            </div>
            <div class="form-group">
                <label for="inputCompanyAcn" class="control-label">ACN</label>
                <input type="text" class="form-control" id="inputCompanyAcn" [(ngModel)]="newCompany.companyAcn" name="acn">
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!companyForm.valid" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <ng-template #viewBlock>
        <div class="row">
            <div class="col-xs-9"><h3>Company Detail</h3></div>
            <div class="col-xs-3 text-right"><button type="button" class="btn btn-primary edit-btn" (click)="setEdit()">Edit</button></div>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldCompany.companyName}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Address:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldCompany.companyAddress}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldCompany.companyEmail}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Phone:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldCompany.companyPhone1}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Mobile:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldCompany.companyPhone2}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">ABN:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldCompany.companyAbn}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">ACN:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldCompany.companyAcn}}</p>
                </div>
            </div>
        </form>

        <ul class="nav nav-tabs module-tab">
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['./contact/' + companyId]">
                    <span class="glyphicon glyphicon-user"></span> Contact
                </a>
            </li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Trade</a></li>
        </ul>
        <router-outlet></router-outlet>
    </ng-template>
</div>