.search-field {
    margin-bottom: 20px;
    background-color: rgba(65, 136, 199, 0.15);
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.search-btn-area {
    margin: 10px 15px;
}

hr {
    border-top: 1px solid rgb(255, 255, 255);
    margin: 10px 15px;
}

.form-inline {
    margin: 15px;
}

.custom-comtainer {
    padding: 0 15px;
}

/*checkbox*/
.checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark-cb {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 2px solid #4189C7;
}

.checkbox:hover input ~ .checkmark-cb {
    background-color: #f8f8f8;
}

.checkbox input:checked ~ .checkmark-cb {
    background-color: #4189C7;
}

.checkmark-cb:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark-cb:after {
    display: block;
}

.checkbox .checkmark-cb:after {
    left: 4px;
    top: 0;
    width: 8px;
    height: 14px;
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*radio*/
.radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
}

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark-rd {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #4189C7;
}

.radio:hover input ~ .checkmark-rd {
    background-color: #f8f8f8;
}

.radio input:checked ~ .checkmark-rd {
    background-color: #ffffff;
}

.checkmark-rd:after {
    content: "";
    position: absolute;
    display: none;
}

.radio input:checked ~ .checkmark-rd:after {
    display: block;
}

.radio .checkmark-rd:after {
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4189C7;
}