<h1 *ngIf="!inView">Contact List</h1>
<search-area [module]="'contact'" [fields]="fields" [message]="'Click contact to get further information.'"
             [page]="currentPage" [pp]="perPage" [inView]="inView" (result)="getSearchResult($event)"></search-area>
<p *ngIf="!contactList ; else dataBlock">
    <em *ngIf="!hasError">Loading...</em>
    <em *ngIf="hasError">{{hasError}}</em>
</p>
<ng-template #dataBlock>
    <div class="row container">
        <button type="button" class="btn btn-primary" (click)="add()">New Contact</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contact of contactList" (click)="viewDetail(contact.contactId)">
            <td>{{ contact.contactName }}</td>
            <td>{{ contact.companyName }}</td>
            <td>{{ contact.contactEmail }}</td>
            <td>{{ contact.contactPhone1 }}</td>
        </tr>
        </tbody>
    </table>
</ng-template>
<pagination [count]="count" [maxPage]="7" (current)="onPageChange($event)" (pp)="ppChange($event)"></pagination>
