<div>
    <div *ngIf="isEdit; else viewBlock">
        <h3 *ngIf="contactId > 0">Edit Contact</h3>
        <h3 *ngIf="contactId == 0">New Contact</h3>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="form-group has-feedback" [ngClass]="!isValid(name) ? 'has-error' : ''">
                <label class="control-label" for="inputContactName">Name</label>
                <input type="text" class="form-control" id="inputContactName" name="name" required
                       [(ngModel)]="newContact.contactName" #name="ngModel">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!isValid(name)"></span>
                <div *ngIf="!isValid(name)" class="alert alert-danger">
                    Contact Name is required.
                </div>
            </div>
            <div class="form-group">
                <label for="selectContactCompany">Company</label>
                <select class="form-control" id="selectContactCompany" [(ngModel)]="newContact.companyId" name="company">
                    <option value="0"></option>
                    <option *ngFor="let company of companySelect" [value]="company.companyId">{{company.companyName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputContactAddress" class="control-label">Address</label>
                <input type="text" class="form-control" id="inputContactAddress"
                       [(ngModel)]="newContact.contactAddress" name="address">
            </div>
            <div class="form-group has-feedback" [ngClass]="!isValid(email) ? 'has-error' : ''">
                <label class="control-label" for="inputContactEmail">Email</label>
                <input type="text" class="form-control" id="inputContactEmail"
                       pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                       [(ngModel)]="newContact.contactEmail" name="email" #email="ngModel">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!isValid(email)"></span>
                <div *ngIf="!isValid(email)" class="alert alert-danger">
                    Email is invalid.
                </div>
            </div>
            <div class="form-group has-feedback" [ngClass]="!isValid(phone) ? 'has-error' : ''">
                <label for="inputContactPhone" class="control-label">Phone</label>
                <input type="text" class="form-control" id="inputContactPhone" pattern="^[\+]?[_0-9\s]{1,}$"
                       [(ngModel)]="newContact.contactPhone1" name="phone" #phone="ngModel">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!isValid(phone)"></span>
                <div *ngIf="!isValid(phone)" class="alert alert-danger">
                    Phone number is invalid.
                </div>
            </div>
            <div class="form-group has-feedback" [ngClass]="!isValid(mobile) ? 'has-error' : ''">
                <label for="inputContactMobile" class="control-label">Phone</label>
                <input type="text" class="form-control" id="inputContactMobile" pattern="^[\+]?[_0-9\s]{1,}$"
                       [(ngModel)]="newContact.contactPhone2" name="mobile" #mobile="ngModel">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      *ngIf="!isValid(mobile)"></span>
                <div *ngIf="!isValid(mobile)" class="alert alert-danger">
                    Mobile number is invalid.
                </div>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!contactForm.valid" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <ng-template #viewBlock>
        <div class="row">
            <div class="col-xs-9"><h3>Contact Detail</h3></div>
            <div class="col-xs-3 text-right"><button type="button" class="btn btn-primary edit-btn" (click)="setEdit()">Edit</button></div>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldContact.contactName}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Company:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldContact.companyName}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Address:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldContact.contactAddress}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldContact.contactEmail}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Phone:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldContact.contactPhone1}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Mobile:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{oldContact.contactPhone2}}</p>
                </div>
            </div>
        </form>
    </ng-template>
</div>