<h1 *ngIf="!inView">Attachment List</h1>
<search-area [module]="'attachment'" [fields]="fields" [message]="'Click attachment to download it.'"
             [page]="currentPage" [pp]="perPage" [inView]="inView" (result)="getSearchResult($event)"></search-area>
<p *ngIf="!attachmentList ; else dataBlock">
    <em *ngIf="!hasError">Loading...</em>
    <em *ngIf="hasError">{{hasError}}</em>
</p>
<ng-template #dataBlock>
    <div class="row container" *ngIf="company > 0">
        <button type="button" class="btn btn-primary" (click)="add()">New Attachment</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Type</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let attachment of attachmentList" (click)="downloadAttachment(attachment.attachmentId)">
                <td>{{ attachment.attachmentDescription }}</td>
                <td>{{ attachment.attachmentName }}</td>
                <td>{{ attachment.attachmentType }}</td>
            </tr>
        </tbody>
    </table>
</ng-template>
<pagination [count]="count" [maxPage]="7" (current)="onPageChange($event)" (pp)="ppChange($event)"></pagination>
