<h1 *ngIf="!inView">Product List</h1>
<search-area [module]="'product'" [fields]="fields" [message]="'Click product to get further information.'"
             [page]="currentPage" [pp]="perPage" [inView]="inView" (result)="getSearchResult($event)"></search-area>
<p *ngIf="!productList ; else dataBlock">
    <em *ngIf="!hasError">Loading...</em>
    <em *ngIf="hasError">{{hasError}}</em>
</p>
<ng-template #dataBlock>
    <div class="row container">
        <button type="button" class="btn btn-primary" (click)="add()">New Product</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList" (click)="viewDetail(product.productId)">
                <td>{{ product.productName }}</td>
                <td>{{ globals.truncate(product.productDesc, 50, false) }}</td>
                <td>{{ product.companyName }}</td>
            </tr>
        </tbody>
    </table>
</ng-template>
<pagination [count]="count" [maxPage]="7" (current)="onPageChange($event)" (pp)="ppChange($event)"></pagination>
